@font-face {
    font-family: 'Nohemi';
    src: url('./Nohemi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nohemi', sans-serif;
    background-color: #161616;
    color: #ecd5b3;
    line-height: 1.6;
    position: relative;
}


body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("imgs/grain.png");
    background-repeat: repeat;
    background-attachment: scroll; /* makes it scroll with the page */
    opacity: 0.4;
    pointer-events: none;
    z-index: 0;
    mix-blend-mode: overlay;
}

/* Add this to ensure the body contains the grain */
body {
    position: relative;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    z-index: 2;
}

/* Header Section */
header {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* Background Text  for HOME Section*/
header::before {
    content: "ABOUT";
    position: absolute;
    font-size: 19vh;
    opacity: 0.1;
    font-weight: normal;
    text-transform: uppercase;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.year-tag {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex; /* Enables flexbox */
    align-items: center; /* Centers text vertically */
    justify-content: center; /* Centers text horizontally */
    height: 2rem; /* Explicit height for the tag */
    padding: 0 0.8rem; /* Horizontal padding only */
    border: 1px solid #ecd5b3b0;
    font-size: 0.8rem;
    border-radius: 20px;
    text-align: center;
    line-height: 1; /* Ensures no extra line spacing */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.header-text h1 {
    font-size: 4rem;
    font-weight: lighter;
    margin-bottom: -1rem;
}

.header-text h2 {
    font-size: 3.5rem;
    font-weight: lighter;
    margin-bottom: -1.5rem;
}

.header-text a {
    display: inline-block;
    left: 2px;
    margin-top: 50px;
    color: #ECD5B3;
    font-size: 14px;
    position: absolute;
    text-decoration: underline;
}

.download-cv-btn {
    text-shadow: none; /* Default state */
    transition: all 0.4s ease-in-out;
}

.download-cv-btn:hover {
    text-shadow: 0 0 50px #ECD5B3,
                 0 0 15px #ECD5B3;
}

.header-text .student1 {
    background: #3a55ff; /* Gradient fill */
    background-clip: text; /* Clip the gradient to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent to show the gradient */
    text-shadow: 0 0 7px #3a55ff, 0 0 70px #3a55ff; /* Add glow effect */
}

.header-text .designer {
    background: linear-gradient(to right, #83FB9E, #3A6F46); /* Gradient fill */
    background-clip: text; /* Clip the gradient to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent to show the gradient */
    text-shadow: 0 0 7px #83FB9E, 0 0 70px #3A6F46; /* Add glow effect */
}

.profile-image {
    width: 28%;
    height: auto;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.profile-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.navigation-arrows {
    align-items: right;
    font-family: 'Neutral Face';
}

.nav-arrow {
    font-size: 1.4rem;
    font-family: 'Neutral Face';
    position: relative;
    top: 5rem;
}

/* Divider */
.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.divider1 {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: -5rem;
}


/* Projects Section */
.projects {
    min-height: 100vh;
    position: relative;
    margin-bottom: 5rem;
}

/* Background Text for PROJECTS section */
.projects::before {
    content: "PROJECTS";
    position: absolute;
    font-size: 19vh;
    opacity: 0.1;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 10rem;
    position: relative;
    z-index: 1;
}

.card {
    background-color: #1a1a1a;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out, box-shadow .3s ease-in-out; /* Smooth transition for tilt and shadow */
    will-change: transform; /* Optimizes performance for the tilt effect */
}

.card:hover {
    box-shadow: 0 0px 70px rgba(148, 148, 148, 0.574); /* Shadow directly under the card */
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.project-image {
    width: 100%;
    height: 550px; /* Set a fixed height for the image container */
    overflow: hidden; /* Ensures the image doesn't overflow the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    width: 100%; /* Ensures the image fills the width of the container */
    height: 100%; /* Ensures the image fills the height of the container */
    object-fit: cover; /* Ensures the image is cropped to fit the container without distortion */
}

.project-image:hover{
    box-shadow: inset 0 0 50px white;
}

.project-info {
    padding: 1rem;
    text-align: center;
    font-weight: 500;
}

.project-info h3 {
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 0.5rem;
}

.project-info p {
    font-size: 0.8rem;
    font-weight: lighter;
    opacity: 0.6;
}

/* Contact Section */
.contact {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.contact::before {
    content: "CONTACT";
    position: absolute;
    font-size: 19vh;
    opacity: 0.1;
    font-weight: normal;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.contact-container {
    margin-top: 3rem;
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
}

.contact-blur {
    position: absolute;
    top: 0;
    width: 100%;
    height: 19.3rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 0;
    border-radius: 3rem;
}

.contact-image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
    outline: 2px solid transparent; /* Initial border */
    outline-offset: -2px;
    border-radius: 42px;
}

.contact-image:hover {
    box-shadow: inset 0 0 40px 0 #ECD5B381; /* Glow effect */  
    outline-color: #ecd5b3; /* Border lights up on hover */
}

/* Footer section */
.footer {
    text-align: center;
    padding: 1rem;
    background-color: #1a1a1a; /* Matches the card background */
    color: #ECD5B3; /* Matches the text color of the page */
    font-size: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border for separation */
    position: relative;
    z-index: 1;
}

.footer p {
    margin: 0;
    font-weight: 500;
}

.arrow-icon {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 1rem;
}

@media (max-width: 576px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }
    
    .header-text h1 {
        font-size: 2.5rem;
    }
    
    .header-text h2 {
        font-size: 1.8rem;
    }
    
    .projects-grid {
        grid-template-columns: 1fr;
    }
    
    .section-title {
        font-size: 4rem;
    }
    
    .contact {
        min-height: 30vh;
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .contact-image:hover {
        box-shadow: inset 0 0 30px 0 #ECD5B381; /* Glow effect */  
        outline-color: #ecd5b3; /* Border lights up on hover */
    }

    .contact-blur {
        position: absolute;
        width: 100%;
        height: 122px;
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        z-index: 0;
        border-radius: 15px;
    }
}