@font-face {
    font-family: 'Nohemi';
    src: url('./Nohemi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
}

body {
    font-family: 'Nohemi', sans-serif;
    background-color: #161616;
    color: #ECD5B3;
    line-height: 1.6;
    position: relative;
}

/* Grain texture overlay */
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("imgs/grain.png");
    background-repeat: repeat;
    background-attachment: scroll;
    opacity: 0.4;
    pointer-events: none;
    z-index: 0;
    mix-blend-mode: overlay;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 2;
    overflow-x: hidden;
}

/* Project Header Styles */
.project-header {
    padding: 2rem;
    position: relative;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    transition: padding 0.3s ease;
}

.year-tag {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.3rem 0.8rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    font-size: 0.8rem;
    z-index: 10;
    cursor: default;
}

.back-button {
    position: absolute;
    top: 1.1rem;
    left: 2rem;
    z-index: 10;
}

.back-button a {
    color: #ECD5B3;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.back-button a:hover {
    color: #ff8630;
}

.project-title-section {
    margin-top: 9rem;
}

.project-title {
    font-size: 12rem;
    margin: 0;
    padding: 0;
    text-align: left;
    background: linear-gradient(.47turn, #ff7512, hsla(36, 60%, 81%, 0.1) 60%); /* Subtle orange gradient */
    -webkit-background-clip: text; /* Clips the gradient to the text */
    -webkit-text-fill-color: transparent; /* Makes the text transparent to show the gradient */
    background-clip: text; /* For non-webkit browsers */
    opacity: 1; /* Ensure full visibility */
    z-index: 1;
}

/* Project Hero Section */
.project-hero {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.hero-image {
    width: 70%;
    height: auto;
    margin-top: -10rem;
    margin-left: 15rem;
    background-color: #FF6B00;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(255, 106, 0, 0.576);
    z-index: 1;
}

.wp_1_img {
    width: 100%;
    height: auto;
    display: block;
}

.full-width-image {
    width: 100%;
    height: auto;
    display: block;
}

.wp_2_img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto; /* Aligns the image to the right */
}

/* Project Info Section */
.project-info-section {
    padding: 0 2rem;
    margin-bottom: 5rem;
}

.project-goal h2 {
    font-size: 10rem;
    margin-bottom: -7rem;
    color: #ECD5B3;
    opacity: .1;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.project-goal p {
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.4;
    margin-top: -3rem;
    position: relative;
    z-index: 2;
    max-width: 60%;
    margin-left: auto;
    cursor: default;
}

/* Project Website Section */
.project-website {
    padding: 0 2rem;
    margin-bottom: 5rem;
    position: relative;
}

.project-website h2 {
    font-size: 10rem;
    margin-bottom: -6.5rem;
    color: #ECD5B3;
    opacity: .1;
}

.project-goal h2,
.project-website h2,
.contact h2,
.project-title-section h1 {
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For older versions of Internet Explorer */
    pointer-events: none; /* Prevents cursor change and interaction */
}

.website-mockup {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

/* Project Mobile Section */
.project-mobile h2 {
    font-size: 10rem;
    margin-bottom: -6.5rem;
    color: #ECD5B3;
    opacity: .1;
}

.project-mobile {
    padding: 0 2rem;
    margin-bottom: 5rem;
    display: block;
    justify-content: center;
}

.mobile-screens {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    gap: 1rem;
}

.mobile-screen {
    flex: 1;
    max-width: 28%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items: center;
    align-self: center;
}

.mobile-screen img {
    width: 100%;
    height: auto;
    display: block;
}

/* Project Contact Section */
.contact {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.contact::before {
    content: "CONTACT";
    position: absolute;
    font-size: 19vh;
    opacity: 0.1;
    font-weight: normal;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.contact-container {
    margin-top: 3rem;
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
}

.contact-blur {
    position: absolute;
    top: 0;
    width: 100%;
    height: 19.3rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 0;
    border-radius: 3rem;
}

.contact-image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
    outline: 2px solid transparent; /* Initial border */
    outline-offset: -2px;
    border-radius: 42px;
}

.contact-image:hover {
    box-shadow: inset 0 0 40px 0 #ECD5B381; /* Glow effect */  
    outline-color: #ecd5b3; /* Border lights up on hover */
}

.project-contact {
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
}

/* Divider */
.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 3rem;
}

.divider1 {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: -5rem;
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 1rem;
    background-color: #1a1a1a;
    color: #ECD5B3;
    font-size: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1;
    cursor: default;
}

.footer p {
    margin: 0;
    font-weight: 500;
}

/* Scroll Effects */
.project-header.scrolled {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .project-title {
        font-size: 10rem;
    }
}

@media (max-width: 992px) {
    
    .project-info-section h2,
    .project-website h2 {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    .project-title {
        font-size: 6rem;
    }
    
    .project-info-section h2,
    .project-website h2 {
        font-size: 3rem;
    }
    
    .project-goal p {
        font-size: 1rem;
        margin-top: -2rem;
    }
    
    .mobile-screens {
        flex-direction: column;
        align-items: center;
    }
    
    .mobile-screen {
        max-width: 70%;
        margin-bottom: 2rem;
    }
    
    .hero-image {
        height: 100%;
        border-radius: 20px; /* Adjusted for smaller screens */
        margin-top: -5rem;
    }
    
    .card {
        border-radius: 20px; /* Adjusted for smaller screens */
    }
}

@media (max-width: 576px) {
    .project-title {
        margin-top: -5rem;
        font-size: 4rem;
    }
    
    .project-info-section h2,
    .project-website h2 {
        font-size: 2.5rem;
    }

    .project-goal p {
        font-size: 1rem;
        margin-top: 2rem;
    }

    .divider {
        width: 85%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        margin-left: 2.1rem;
    }
    
    .year-tag {
        top: 1rem;
        font-size: 0.7rem;
        padding: 0.3rem 0.6rem;
    }

    .project-goal p {
        margin-left: 40%;
    }

    .contact::before {
        font-size: 10vh; /* Adjusted for smaller screens */
        top: 25%;
    }

    .project-mobile h2 {
        font-size: 3rem;
        margin-bottom: -1rem;
        color: #ECD5B3;
        opacity: .1;
    }
    
    .contact-button {
        width: 100%;
        text-align: center;
    }

    .contact-image {
        outline: 1px solid transparent; /* Initial border */
        outline-offset: -1px;
        border-radius: 15px;
    }

    .contact {
        min-height: 30vh;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .contact-blur {
        position: absolute;
        width: 100%;
        height: 122px;
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        z-index: 0;
        border-radius: 15px;
    }

    .mobile-screens {
        width: 100%;
        gap: 1rem;
        align-items: center;
    }
    
    .hero-image {
        border-radius: 30px; /* Further reduced for very small screens */
        margin-top: -4rem;
        margin-right: 2rem;
        margin-left: 25%;
        width: 1000px;
        height: auto;
    }
    
    .card {
        border-radius: 10px; /* Further reduced for very small screens */
    }
}